<!-- Page for adding a new post-->
<h1>New Post</h1>
<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Post Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
    <%= form.label "posted_on", "Date Visited" %>
    <%= form.date_field "posted_on" %>
  </p>
  <p>
    <%= form.label "place_id" %>
    <%= form.text_field "place_id" %>
  </p>
  <%= form.submit %>
<% end %>